<div style="float: left;">
  <main class="d-flex flex-nowrap" style="width: 305px;">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark"
      style="width: 280px;">
      <a href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32">
          <use xlink:href="#speedometer2" />
        </svg>
        <span class="fs-4">Sidebar</span> <!-- Seems redirectable, which leads to a 404 page -->
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/teacher" class="nav-link text-white" aria-current="page">
            <svg class="bi pe-none me-2" width="20" height="20">
              <use xlink:href="#home" />
            </svg>
            <span style="font-size: 20px;">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/acad_tc" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="20" height="20">
              <use xlink:href="#people-circle" />
            </svg>
            <span style="font-size: 20px;">Academic History</span></a>
        </li>
        <li class="nav-item">
          <a href="/note_tc" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="20" height="20">
              <use xlink:href="#people-circle" />
            </svg>
            <span style="font-size: 20px;">Announcement</span>
          </a>
        </li>
      </ul>
      <hr>
      <div class="dropdown">
        <a href="#"
          class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt width="32" height="32"
            class="rounded-circle me-2">
          <strong style="font-size: 20px;">{{name}}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
          <li style="font-size: 18px;"><a class="dropdown-item" href="/logout">Sign
              out</a></li>
        </ul>
      </div>
    </div>
    <div class="b-example-divider b-example-vr"></div>
  </main>
</div>