<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/navbar.css">
    </head>

    <body>
        <div id="mobile-container">
            <!-- Top Navigation Menu -->
            <div id="nav" class="topnav">
                <a href="#" class="active">Logo</a>
                <div id="myLinks">
                    <a href="/admin">Home</a>
                    <a href="/acad_adm">Academic History</a>
                    <a href="/course_group_adm">Course Management</a>
                    <a href="/note_adm">Announcement</a>
                    <a href="/logout">Sign Out</a>
                </div>
                <a href="javascript:void(0);" class="icon"
                    onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>
    </body>
    <script>
    function myFunction() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
</script>

</html>